<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Recharge </a></li>
        <li><a href="#tab-2" role="tab" data-toggle="tab">Today's collection</a></li>
        <li><a href="#tab-3" role="tab" data-toggle="tab">Administrator </a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="tab-1"></div>
        <div class="tab-pane" role="tabpanel" id="tab-2"></div>
        <div class="tab-pane" role="tabpanel" id="tab-3">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="/user/collections" method="get">
                        <div class="form-group">
                            <label for="fromdate">From:</label>
                            <input type="date" id="fromdate" name="fromdate" class="form-control" placeholder="dd-mm-yyyy">
                        </div>
                        <div class="form-group">
                            <label for="todate">To:</label>
                            <input type="date" id="todate" name="todate" class="form-control" placeholder="dd-mm-yyyy">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>