<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-2" role="tab" data-toggle="tab">Administrator</a></li>
        <li><a href="#tab-3" role="tab" data-toggle="tab">Today's collection</a></li>
    </ul>
    <div class="tab-content container-fluid">
        <div class="tab-pane active" role="tabpanel" id="tab-2">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    {{#if hasErrors}}
                        <ul>
                            {{# each messages}}
                                <div class="alert alert-danger">
                                    <li>{{this}}</li>
                                </div>
                            {{/each}}
                        </ul>

                    {{/if}}
                    {{#if flash.notice}}
                        <div class="alert alert-info">
                            <p>{{flash.notice}}</p>
                        </div>
                    {{/if}}
                    <form action="/user/collections" method="get">
                        <div class="form-group">
                            <label for="fromdate">From:</label>
                            <div class='input-group date' id='datetimepicker7'>
                                <input id= "fromdate" name="fromdate" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="todate">To:</label>
                            <div class='input-group date' id='datetimepicker8'>
                                <input id= "todate" name="todate" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    <br>
                    <h3>Total Collections:</h3>
                    <form action="" method="get">
                        <div class="form-group">
                            <label for="totcol">Total Collections:</label>
                            <input type="number" id="totcol" name="totcol" class="form-control" readonly value="{{ docs }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-3">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 row collgames">
                    <div class="form-group">
                        <div class="col-sm-3 label-column">
                            <label class="control-label" for="speedball">Speed Ball</label>
                        </div>
                        <div class="col-sm-6 input-column gameinputs">
                            <input type="text" id="speedball" name="speedball" class="form-control">
                        </div>
                        <div class="col-sm-3 input-column">
                            <input type="number" id="tapcount" name="tapcount" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4 row collgames">
                    <div class="form-group">
                        <div class="col-sm-3 label-column">
                            <label class="control-label" for="basketball">Basket Ball</label>
                        </div>
                        <div class="col-sm-6 input-column gameinputs">
                            <input type="text" id="basketball" name="basketball" class="form-control">
                        </div>
                        <div class="col-sm-3 input-column">
                            <input type="number" id="tapcount" name="tapcount" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4 row collgames">
                    <div class="form-group">
                        <div class="col-sm-3 label-column">
                            <label class="control-label" for="airhockey">Air Hockey</label>
                        </div>
                        <div class="col-sm-6 input-column gameinputs">
                            <input type="text" id="airhockey" name="airhockey" class="form-control">
                        </div>
                        <div class="col-sm-3 input-column">
                            <input type="number" id="tapcount" name="tapcount" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4 row collgames">
                    <div class="form-group">
                        <div class="col-sm-3 label-column">
                            <label class="control-label" for="dance">Dance</label>
                        </div>
                        <div class="col-sm-6 input-column gameinputs">
                            <input type="text" id="dance" name="dance" class="form-control">
                        </div>
                        <div class="col-sm-3 input-column">
                            <input type="number" id="tapcount" name="tapcount" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4 row collgames">
                    <div class="form-group">
                        <div class="col-sm-3 label-column">
                            <label class="control-label" for="catchlight">Catch Light</label>
                        </div>
                        <div class="col-sm-6 input-column gameinputs">
                            <input type="text" id="catchlight" name="catchlight" class="form-control">
                        </div>
                        <div class="col-sm-3 input-column">
                            <input type="number" id="tapcount" name="tapcount" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>