a:hover {
    text-decoration: none;
}

.tab-content {
    margin-top: 40px;
}

#rates {
    padding-bottom: 15px;
}

.btn {
    margin-right: 5px;
}

.hed {
    padding-bottom: 15px;
}

li {
    list-style: none;
}

form {
   padding-bottom:50px;
}

input[type="date"]:before{
    color:lightgray;
    content:attr(placeholder);
}

input[type="date"].full:before {
    color:black;
    content:""!important;
}