<!-- <div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div> -->

<div class="maind">
    <div class="jumbotron namas">
        <h2 id="welcome">Welcome to Game Zone</h2>
        <p id="welsign">Already a member? <a href="/user/signin">Sign In</a></p>
    </div>
</div>